#General imports

In [2]:
# Used imports -- standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cbsodata

# miscelaneous imports
import gc

#Reading csv into dataframe

In [2]:
#df_deelnemeners = pd.read_csv('HealthyLIFE_datadump_03-2023_1.csv', sep=';')
#df_fitheids_scan = pd.read_csv('HealthyLIFE_datadump_03-2023_2.csv', sep=';')
#df_cbs_afstanden = pd.read_csv('Nabijheid_voorzieningen__regio_17052023_115259.csv', sep=';')
#df_kvk_inkomen = pd.read_csv('kvk2019-wb2022-inkomen-1.csv', sep=';')
#df_afkomst_per_gemeente = pd.read_csv('Afkomst_Per_Gemeente.csv',sep=";" )
#df_uitkeringen = pd.read_csv('Uitkeringen.csv', sep=';')
#df_welzijn = pd.read_csv('table_tabel-34911035-1268-41a0-961d-229504cfd3f2.csv')
#df_gezondheid = pd.read_csv('Gezondheidsmonitor__bevolking_18_jaar_of_ouder__regio__2020_17052023_132409.csv', sep=';')

In [3]:

# Converteer naar een Pandas DataFrame voor gemakkelijke manipulatie
df_algemeen = pd.DataFrame(cbsodata.get_data('83765NED'))

# Converteer naar een Pandas DataFrame voor gemakkelijke manipulatie
df_Afstanden = pd.DataFrame(cbsodata.get_data('80305ned'))

# Converteer naar een Pandas DataFrame voor gemakkelijke manipulatie
df_gezondheidsmonitor = pd.DataFrame(cbsodata.get_data('85012NED'))

In [4]:
df_algemeen

,ID,WijkenEnBuurten,Gemeentenaam_1,SoortRegio_2,Codering_3,IndelingswijzigingWijkenEnBuurten_4,AantalInwoners_5,Mannen_6,Vrouwen_7,k_0Tot15Jaar_8,...,OppervlakteTotaal_99,OppervlakteLand_100,OppervlakteWater_101,MeestVoorkomendePostcode_102,Dekkingspercentage_103,MateVanStedelijkheid_104,Omgevingsadressendichtheid_105,TotaalDiefstalUitWoningSchuurED_106,VernielingMisdrijfTegenOpenbareOrde_107,GeweldsEnSeksueleMisdrijven_108
0,0,Nederland,Nederland,Land,NL00,.,17081507,8475102,8606405,2781768,...,4154302,3367996,786306,.,NaN,2.0,1969.0,NaN,NaN,NaN
1,1,Aa en Hunze,Aa en Hunze,Gemeente,GM1680,.,25286,12603,12683,3572,...,27887,27625,262,.,NaN,5.0,279.0,2.0,3.0,2.0
2,2,Wijk 00 Annen,Aa en Hunze,Wijk,WK168000,1,3545,1710,1835,555,...,1478,1466,13,.,NaN,5.0,389.0,2.0,1.0,1.0
3,3,Annen,Aa en Hunze,Buurt,BU16800000,1,3395,1635,1760,545,...,252,252,0,9468,1.0,5.0,404.0,2.0,1.0,1.0
4,4,Verspreide huizen Annen,Aa en Hunze,Buurt,BU16800009,1,150,80,75,10,...,1226,1213,13,9468,1.0,5.0,59.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16662,16662,Gerenbroek,Zwolle,Buurt,BU01935150,1,3165,1555,1610,690,...,49,47,2,8014,1.0,2.0,1564.0,0.0,5.0,2.0
16663,16663,Oude Mars,Zwolle,Buurt,BU01935160,1,90,45,45,20,...,45,43,2,8015,3.0,4.0,920.0,0.0,11.0,0.0
16664,16664,Wijk 52 Soestweteringlanden,Zwolle,Wijk,WK019352,1,900,445,450,150,...,1194,1107,87,.,NaN,5.0,144.0,0.0,3.0,1.0
16665,16665,Windesheim,Zwolle,Buurt,BU01935200,1,400,190,205,80,...,53,53,0,8015,1.0,5.0,61.0,0.0,5.0,0.0
16666,16666,Harculo en Hoogzutmen,Zwolle,Buurt,BU01935210,1,500,255,245,70,...,1141,1053,87,8015,2.0,5.0,229.0,0.0,2.0,2.0

In [5]:
df_Afstanden

,ID,RegioS,Perioden,AfstandTotHuisartsenpraktijk_1,Binnen1Km_2,Binnen3Km_3,Binnen5Km_4,AfstandTotHuisartsenpost_5,AfstandTotApotheek_6,AfstandTotZiekenhuis_7,...,Binnen5Km_116,Binnen10Km_117,Binnen20Km_118,AfstandTotSauna_119,AfstandTotZonnebank_120,AfstandTotAttractie_121,Binnen10Km_122,Binnen20Km_123,Binnen50Km_124,AfstandTotBrandweerkazerne_125
0,0,Nederland,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Nederland,2007,0.9,1.9,10.3,21.4,6.0,NaN,5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Nederland,2008,0.9,1.8,10.1,21.0,6.0,1.2,5.2,...,1.1,2.4,6.0,8.9,4.6,9.5,1.5,4.0,17.3,2.0
3,3,Nederland,2009,0.9,1.8,9.9,20.6,NaN,1.2,5.1,...,1.1,2.4,5.9,8.7,4.5,9.2,1.5,4.1,18.0,NaN
4,4,Nederland,2010,0.9,1.8,9.9,20.5,NaN,1.2,4.8,...,1.2,2.4,6.1,8.6,4.8,8.6,1.6,4.5,19.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8843,8843,Zwolle,2017,1.0,1.4,7.6,15.3,NaN,1.2,4.5,...,0.8,1.0,3.0,8.7,1.6,3.6,2.6,3.8,27.6,2.6
8844,8844,Zwolle,2018,0.9,1.5,7.8,15.7,4.5,1.2,4.5,...,0.8,1.0,3.0,8.7,1.6,3.6,2.6,3.8,27.6,2.6
8845,8845,Zwolle,2019,1.0,1.4,7.7,15.5,4.2,1.2,4.2,...,0.8,1.0,3.0,8.4,1.7,3.6,2.6,4.5,29.7,2.6
8846,8846,Zwolle,2020,0.9,1.3,7.2,14.6,4.2,1.2,4.2,...,0.8,1.0,3.0,8.4,1.7,3.5,2.6,4.5,33.4,2.6
8847,8847,Zwolle,2021,0.9,1.2,7.2,14.5,4.3,1.1,4.3,...,0.8,1.0,3.0,8.5,1.6,3.2,3.6,5.5,39.4,2.6

In [14]:
print(df_algemeen.columns)
print(df_Afstanden.columns)

Index(['ID', 'WijkenEnBuurten', 'Gemeentenaam_1', 'SoortRegio_2', 'Codering_3',
       'IndelingswijzigingWijkenEnBuurten_4', 'AantalInwoners_5', 'Mannen_6',
       'Vrouwen_7', 'k_0Tot15Jaar_8',
       ...
       'OppervlakteTotaal_99', 'OppervlakteLand_100', 'OppervlakteWater_101',
       'MeestVoorkomendePostcode_102', 'Dekkingspercentage_103',
       'MateVanStedelijkheid_104', 'Omgevingsadressendichtheid_105',
       'TotaalDiefstalUitWoningSchuurED_106',
       'VernielingMisdrijfTegenOpenbareOrde_107',
       'GeweldsEnSeksueleMisdrijven_108'],
      dtype='object', length=110)
Index(['ID', 'RegioS', 'Perioden', 'AfstandTotHuisartsenpraktijk_1',
       'Binnen1Km_2', 'Binnen3Km_3', 'Binnen5Km_4',
       'AfstandTotHuisartsenpost_5', 'AfstandTotApotheek_6',
       'AfstandTotZiekenhuis_7',
       ...
       'Binnen5Km_116', 'Binnen10Km_117', 'Binnen20Km_118',
       'AfstandTotSauna_119', 'AfstandTotZonnebank_120',
       'AfstandTotAttractie_121', 'Binnen10Km_122', 'Binnen20Km_123',
       'Binnen50Km_124', 'AfstandTotBrandweerkazerne_125'],
      dtype='object', length=128)

In [4]:
# Perform full outer join on df_algemeen and df_Afstanden
merged_df = pd.merge(df_algemeen, df_Afstanden, left_on=['Gemeentenaam_1'], right_on=['RegioS'], how='outer')

# Perform full outer join on merged_df and df_gezondheidsmonitor
merged_df = pd.merge(merged_df, df_gezondheidsmonitor, on=['RegioS'], how='outer')

# Find column names with NaN values
columns_with_nan = merged_df.columns[merged_df.isna().any()].tolist()

# Print column names with NaN values
for column in columns_with_nan:
    print(column)

ID_x
WijkenEnBuurten
Gemeentenaam_1
SoortRegio_2
Codering_3
IndelingswijzigingWijkenEnBuurten_4
AantalInwoners_5
Mannen_6
Vrouwen_7
k_0Tot15Jaar_8
k_15Tot25Jaar_9
k_25Tot45Jaar_10
k_45Tot65Jaar_11
k_65JaarOfOuder_12
Ongehuwd_13
Gehuwd_14
Gescheiden_15
Verweduwd_16
WestersTotaal_17
NietWestersTotaal_18
Marokko_19
NederlandseAntillenEnAruba_20
Suriname_21
Turkije_22
OverigNietWesters_23
GeboorteTotaal_24
GeboorteRelatief_25
SterfteTotaal_26
SterfteRelatief_27
HuishoudensTotaal_28
Eenpersoonshuishoudens_29
HuishoudensZonderKinderen_30
HuishoudensMetKinderen_31
GemiddeldeHuishoudensgrootte_32
Bevolkingsdichtheid_33
Woningvoorraad_34
GemiddeldeWoningwaarde_35
PercentageEengezinswoning_36
PercentageMeergezinswoning_37
PercentageBewoond_38
PercentageOnbewoond_39
Koopwoningen_40
HuurwoningenTotaal_41
InBezitWoningcorporatie_42
InBezitOverigeVerhuurders_43
EigendomOnbekend_44
BouwjaarVoor2000_45
BouwjaarVanaf2000_46
GemiddeldElektriciteitsverbruikTotaal_47
Appartement_48
Tussenwoning_49
Hoekwoning_50
TweeOnderEenKapWoning_51
VrijstaandeWoning_52
Huurwoning_53
EigenWoning_54
GemiddeldAardgasverbruikTotaal_55
Appartement_56
Tussenwoning_57
Hoekwoning_58
TweeOnderEenKapWoning_59
VrijstaandeWoning_60
Huurwoning_61
EigenWoning_62
PercentageWoningenMetStadsverwarming_63
AantalInkomensontvangers_64
GemiddeldInkomenPerInkomensontvanger_65
GemiddeldInkomenPerInwoner_66
k_40PersonenMetLaagsteInkomen_67
k_20PersonenMetHoogsteInkomen_68
Actieven1575Jaar_69
k_40HuishoudensMetLaagsteInkomen_70
k_20HuishoudensMetHoogsteInkomen_71
HuishoudensMetEenLaagInkomen_72
HuishOnderOfRondSociaalMinimum_73
PersonenPerSoortUitkeringBijstand_74
PersonenPerSoortUitkeringAO_75
PersonenPerSoortUitkeringWW_76
PersonenPerSoortUitkeringAOW_77
BedrijfsvestigingenTotaal_78
ALandbouwBosbouwEnVisserij_79
BFNijverheidEnEnergie_80
GIHandelEnHoreca_81
HJVervoerInformatieEnCommunicatie_82
KLFinancieleDienstenOnroerendGoed_83
MNZakelijkeDienstverlening_84
RUCultuurRecreatieOverigeDiensten_85
PersonenautoSTotaal_86
PersonenautoSJongerDan6Jaar_87
PersonenautoS6JaarEnOuder_88
PersonenautoSBrandstofBenzine_89
PersonenautoSOverigeBrandstof_90
PersonenautoSPerHuishouden_91
PersonenautoSNaarOppervlakte_92
Motorfietsen_93
AfstandTotHuisartsenpraktijk_94
AfstandTotGroteSupermarkt_95
AfstandTotKinderdagverblijf_96
AfstandTotSchool_97
ScholenBinnen3Km_98
OppervlakteTotaal_99
OppervlakteLand_100
OppervlakteWater_101
MeestVoorkomendePostcode_102
Dekkingspercentage_103
MateVanStedelijkheid_104
Omgevingsadressendichtheid_105
TotaalDiefstalUitWoningSchuurED_106
VernielingMisdrijfTegenOpenbareOrde_107
GeweldsEnSeksueleMisdrijven_108
ID_y
RegioS
Perioden
AfstandTotHuisartsenpraktijk_1
Binnen1Km_2
Binnen3Km_3
Binnen5Km_4
AfstandTotHuisartsenpost_5
AfstandTotApotheek_6
AfstandTotZiekenhuis_7
Binnen5Km_8
Binnen10Km_9
Binnen20Km_10
AfstandTotZiekenhuis_11
Binnen5Km_12
Binnen10Km_13
Binnen20Km_14
AfstandTotConsultatiebureau_15
AfstandTotFysiotherapeut_16
Binnen1Km_17
Binnen3Km_18
Binnen5Km_19
AfstandTotGroteSupermarkt_20
Binnen1Km_21
Binnen3Km_22
Binnen5Km_23
AfstandTotOvDagelLevensmiddelen_24
Binnen1Km_25
Binnen3Km_26
Binnen5Km_27
AfstandTotWarenhuis_28
Binnen5Km_29
Binnen10Km_30
Binnen20Km_31
AfstandTotCafeED_32
Binnen1Km_33
Binnen3Km_34
Binnen5Km_35
AfstandTotCafetariaED_36
Binnen1Km_37
Binnen3Km_38
Binnen5Km_39
AfstandTotRestaurant_40
Binnen1Km_41
Binnen3Km_42
Binnen5Km_43
AfstandTotHotelED_44
Binnen5Km_45
Binnen10Km_46
Binnen20Km_47
AfstandTotKinderdagverblijf_48
Binnen1Km_49
Binnen3Km_50
Binnen5Km_51
AfstandTotBuitenschoolseOpvang_52
Binnen1Km_53
Binnen3Km_54
Binnen5Km_55
AfstandTotSchool_56
Binnen1Km_57
Binnen3Km_58
Binnen5Km_59
AfstandTotSchool_60
Binnen3Km_61
Binnen5Km_62
Binnen10Km_63
AfstandTotSchool_64
Binnen3Km_65
Binnen5Km_66
Binnen10Km_67
AfstandTotSchool_68
Binnen3Km_69
Binnen5Km_70
Binnen10Km_71
Binnen10Km_72
Binnen20Km_73
Binnen50Km_74
Binnen10Km_75
Binnen20Km_76
Binnen50Km_77
Binnen10Km_78
Binnen20Km_79
Binnen50Km_80
Binnen10Km_81
Binnen20Km_82
Binnen50Km_83
Binnen10Km_84
Binnen20Km_85
Binnen50Km_86
AfstandTotOpenbaarGroenTotaal_87
AfstandTotParkOfPlantsoen_88
AfstandTotDagrecreatiefTerrein_89
AfstandTotBos_90
AfstandTotOpenNatTerreinTotaal_91
AfstandTotOpenDroogNatTerrein_92
AfstandTotOpenNatNatuurlijkTerrein_93
AfstandTotSemiOpenbaarGroenTotaal_94
AfstandTotSportterrein_95
AfstandTotVolkstuin_96
AfstandTotVerblijfsrecreatiefTerrein_97
AfstandTotBegraafplaats_98
AfstandTotRecreatiefBinnenwater_99
AfstandTotOpritHoofdverkeersweg_100
AfstandTotTreinstationsTotaal_101
AfstandTotBelangrijkOverstapstation_102
AfstandTotBibliotheek_103
AfstandTotZwembad_104
AfstandTotKunstijsbaan_105
AfstandTotMuseum_106
Binnen5Km_107
Binnen10Km_108
Binnen20Km_109
AfstandTotPodiumkunstenTotaal_110
Binnen5Km_111
Binnen10Km_112
Binnen20Km_113
AfstandTotPoppodium_114
AfstandTotBioscoop_115
Binnen5Km_116
Binnen10Km_117
Binnen20Km_118
AfstandTotSauna_119
AfstandTotZonnebank_120
AfstandTotAttractie_121
Binnen10Km_122
Binnen20Km_123
Binnen50Km_124
AfstandTotBrandweerkazerne_125
ID
Leeftijd
Marges
ErvarenGezondheidGoedZeerGoed_1
EenOfMeerLangdurigeAandoeningen_2
EenOfMeerLichamelijkeBeperkingen_3
BeperkingInHoren_4
BeperkingInZien_5
BeperkingInBewegen_6
Ondergewicht_7
NormaalGewicht_8
Overgewicht_9
MatigOvergewicht_10
ErnstigOvergewichtObesitas_11
VoldoetAanBeweegrichtlijn_12
WekelijksSporter_13
Mantelzorger_14
ZwaarBelasteMantelzorgers_15
UrenMantelzorgPerWeek_16
Rokers_17
VoldoetAanRichtlijnAlcoholgebruik_18
ZwareDrinker_19
OvermatigDrinker_20

In [28]:
merged_df

Empty DataFrame
Columns: [ID_x, WijkenEnBuurten, Gemeentenaam_1, SoortRegio_2, Codering_3, IndelingswijzigingWijkenEnBuurten_4, AantalInwoners_5, Mannen_6, Vrouwen_7, k_0Tot15Jaar_8, k_15Tot25Jaar_9, k_25Tot45Jaar_10, k_45Tot65Jaar_11, k_65JaarOfOuder_12, Ongehuwd_13, Gehuwd_14, Gescheiden_15, Verweduwd_16, WestersTotaal_17, NietWestersTotaal_18, Marokko_19, NederlandseAntillenEnAruba_20, Suriname_21, Turkije_22, OverigNietWesters_23, GeboorteTotaal_24, GeboorteRelatief_25, SterfteTotaal_26, SterfteRelatief_27, HuishoudensTotaal_28, Eenpersoonshuishoudens_29, HuishoudensZonderKinderen_30, HuishoudensMetKinderen_31, GemiddeldeHuishoudensgrootte_32, Bevolkingsdichtheid_33, Woningvoorraad_34, GemiddeldeWoningwaarde_35, PercentageEengezinswoning_36, PercentageMeergezinswoning_37, PercentageBewoond_38, PercentageOnbewoond_39, Koopwoningen_40, HuurwoningenTotaal_41, InBezitWoningcorporatie_42, InBezitOverigeVerhuurders_43, EigendomOnbekend_44, BouwjaarVoor2000_45, BouwjaarVanaf2000_46, GemiddeldElektriciteitsverbruikTotaal_47, Appartement_48, Tussenwoning_49, Hoekwoning_50, TweeOnderEenKapWoning_51, VrijstaandeWoning_52, Huurwoning_53, EigenWoning_54, GemiddeldAardgasverbruikTotaal_55, Appartement_56, Tussenwoning_57, Hoekwoning_58, TweeOnderEenKapWoning_59, VrijstaandeWoning_60, Huurwoning_61, EigenWoning_62, PercentageWoningenMetStadsverwarming_63, AantalInkomensontvangers_64, GemiddeldInkomenPerInkomensontvanger_65, GemiddeldInkomenPerInwoner_66, k_40PersonenMetLaagsteInkomen_67, k_20PersonenMetHoogsteInkomen_68, Actieven1575Jaar_69, k_40HuishoudensMetLaagsteInkomen_70, k_20HuishoudensMetHoogsteInkomen_71, HuishoudensMetEenLaagInkomen_72, HuishOnderOfRondSociaalMinimum_73, PersonenPerSoortUitkeringBijstand_74, PersonenPerSoortUitkeringAO_75, PersonenPerSoortUitkeringWW_76, PersonenPerSoortUitkeringAOW_77, BedrijfsvestigingenTotaal_78, ALandbouwBosbouwEnVisserij_79, BFNijverheidEnEnergie_80, GIHandelEnHoreca_81, HJVervoerInformatieEnCommunicatie_82, KLFinancieleDienstenOnroerendGoed_83, MNZakelijkeDienstverlening_84, RUCultuurRecreatieOverigeDiensten_85, PersonenautoSTotaal_86, PersonenautoSJongerDan6Jaar_87, PersonenautoS6JaarEnOuder_88, PersonenautoSBrandstofBenzine_89, PersonenautoSOverigeBrandstof_90, PersonenautoSPerHuishouden_91, PersonenautoSNaarOppervlakte_92, Motorfietsen_93, AfstandTotHuisartsenpraktijk_94, AfstandTotGroteSupermarkt_95, AfstandTotKinderdagverblijf_96, AfstandTotSchool_97, ScholenBinnen3Km_98, ...]
Index: []

[0 rows x 261 columns]

In [ ]:
df_deelnemeners.info()

In [ ]:
df_deelnemeners.rename(columns={'Id': 'DeelnemerID'}, inplace=True)

# Adding columns
df_deelnemeners['Gemeente'] = df_deelnemeners['Woonplaats']

# Replace values
df_deelnemeners['Gemeente'] = df_deelnemeners['Gemeente'].replace(['Born', 'Geleen', 'Sittard'], 'Sittard-Geleen')
df_deelnemeners['Gemeente'] = df_deelnemeners['Gemeente'].replace(['Schinnen'], 'Beekdaelen')

# Dropping row with specific testing value
df_deelnemeners.drop(df_deelnemeners[df_deelnemeners['Gemeente'] == 'Test'].index, inplace = True)

# Dropping columns
df_deelnemeners.drop(columns=['Woonplaats', 'Postcode'], inplace = True)

# Dit is een beetje experimenteel maar hier drop ik gewoon waardeloze data die we niet nodig hebben -groetjes Justin XOXOXO
df_deelnemeners.drop(columns={'Beweegcoach1', 'Leefstijlcoach1'}, inplace= True)
# Ook doe ik even hier de deelnemerID naar int omzetten omdat er geen halve deelnemen kan zijn... denk ik
df_deelnemeners['DeelnemerID'] = df_deelnemeners['DeelnemerID'].astype(int)

# Display the modified DataFrame
df_deelnemeners

In [ ]:
df_fitheids_scan.info()

In [ ]:
# Convert 'DeelnemerID' column to int
df_fitheids_scan['DeelnemerID'] = df_fitheids_scan['DeelnemerID'].astype(pd.Int64Dtype())

# Replace commas with periods and convert columns to float
columns_to_convert = ['Lengte', 'Gewicht', '6 MWT', 'TUG', 'BMI', 'Conditie', 'Lenigheid', 'Knijpkracht']
df_fitheids_scan[columns_to_convert] = df_fitheids_scan[
    columns_to_convert].astype(str).apply(lambda x: x.str.replace(',', '.')).astype(float)

df_fitheids_scan['Datum'] = pd.to_datetime(df_fitheids_scan['Datum'], format='%d/%m/%Y').dt.normalize()
df_fitheids_scan['Datum'] = df_fitheids_scan['Datum'].dt.strftime('%Y-%m-%d')

# Deleting unused dataframes
del columns_to_convert

# Display the modified DataFrame
df_fitheids_scan

In [ ]:
df_fitheids_scan.info()

In [ ]:
df_cbs_afstanden.info()

In [ ]:
df_cbs_afstanden

In [ ]:
df_cbs_afstanden.info()

In [ ]:
# rename columns for merging
df_cbs_afstanden.rename(columns={"Regio's": 'Gemeente'}, inplace=True)

# Replace the exact string '       .' with NaN values
df_cbs_afstanden.replace('       .', np.nan, inplace=True)

# Drop the columns containing NaN values
df_cbs_afstanden.dropna(axis=1, how="all", inplace=True)

# Drop all rows containing the word aantal
df_cbs_afstanden = df_cbs_afstanden.filter(regex=r'^(?!.*aantal).*$', axis=1)

# Because there a some municipalities with many nan values, we drop them because the clog up the data
df_cbs_afstanden.dropna(inplace=True)

# Display the modified DataFrame
df_cbs_afstanden

In [ ]:
df_cbs_afstanden.info()

In [ ]:
# Filter and sort the rows for the years ranging from 2018 to 2021
df_chunks = {}
years = range(2018, 2022)
for year in years:
    df_year = df_cbs_afstanden[df_cbs_afstanden['Perioden'] == year]
    df_chunks[year] = df_year

# Access individual DataFrames for each year
df_2018 = df_chunks[2018]
df_2019 = df_chunks[2019]
df_2020 = df_chunks[2020]
df_2021 = df_chunks[2021]

# Deleting redundancies
del df_chunks, years, year, df_year

In [ ]:
# NL -- Hier is een probleem dat de data op het CSV niveau geprepareerd is. Dit is niet de bedoeling omdat we nu heel veel gemeentes missen.
df_gezondheid.info()

In [ ]:
df_kvk_inkomen.info()

In [ ]:
# drops all rows that contain nan values in the column 'Gemeentenaam', this is every row except the total values
df_kvk_inkomen.dropna(subset=['Gemeentecode'], inplace=True)

# Drop column Gemeentecode, Wijkcode, 40 procent huishoudens met laagste besteedbaar inkomen, 20 procent huishoudens met hoogste besteedbaar inkomen
# This is done to only get the data for the median income per person in the municipality
df_kvk_inkomen.drop(columns=['Gemeentecode', 'Wijkcode', '40 procent huishoudens met laagste besteedbaar inkomen', '20 procent huishoudens met hoogste besteedbaar inkomen'], inplace=True)

# Remove commas and convert the column to float
df_kvk_inkomen['Gemiddeld persoonlijk inkomen per inwoner (x 1000 euro)'] = df_kvk_inkomen['Gemiddeld persoonlijk inkomen per inwoner (x 1000 euro)'].str.replace(',', '.').astype(float)

# Reset the index for readability purposes
df_kvk_inkomen.reset_index(inplace=True, drop=True)

# renames the column 'Gemiddeld persoonlijk inkomen per inwoner (x 1000 euro)' to 'gemiddeld inkomen'
df_kvk_inkomen.rename(columns={'Gemiddeld persoonlijk inkomen per inwoner (x 1000 euro)': 'gemiddeld inkomen'}, inplace=True)

# Multiply the column 'gemiddeld inkomen' by 1000 to get the actual value
df_kvk_inkomen['gemiddeld inkomen'] = df_kvk_inkomen['gemiddeld inkomen'] * 1000

# Rename columns Regionaam to Gemeente to match the other dataframes
df_kvk_inkomen.rename(columns={'Regionaam': 'Gemeente'}, inplace=True)

In [ ]:
df_kvk_inkomen

In [ ]:
# Calculate the median income per municipality and display it
median_kvk_inkomen_Nederland_precies = df_kvk_inkomen['gemiddeld inkomen'].median()
mean_kvk_inkomen_Nederland_precies = df_kvk_inkomen['gemiddeld inkomen'].mean()

median_kvk_inkomen_Nederland_afgerond = round(median_kvk_inkomen_Nederland_precies)
mean_kvk_inkomen_Nederland_afgerond = round(mean_kvk_inkomen_Nederland_precies)

print(f'De mediaan voor alle inkomens is: {median_kvk_inkomen_Nederland_afgerond}.\nHet gemiddelde voor alle inkomens is: {mean_kvk_inkomen_Nederland_afgerond}.')

del mean_kvk_inkomen_Nederland_precies, mean_kvk_inkomen_Nederland_afgerond, median_kvk_inkomen_Nederland_afgerond, median_kvk_inkomen_Nederland_precies

In [ ]:
# Groot probleem met deze dataset is overigens dat het wederom niet alle gemeenten bevat. Dit is uiters vervelend en moet opgelost worden. :(
# Deze code is overigens modulaire en kan dus makkelijk aangepast worden voor andere jaren. :)

# Rename columns
df_afkomst_per_gemeente.rename(columns={'Gemeentenaam': 'Gemeente'}, inplace=True)

# Making a new dataframe that only contains all non eropean immigrants

# Create a list of columns to be combined into 'Other (%)'
unused_columns = ['Marokko (%)', 'Nederlandse Antillen en Aruba (%)', 'Suriname (%)', 'Turkije (%)', 'Overig niet-westers (%)']

# Create the 'Other (%)' column and initialize it with zeros
df_afkomst_per_gemeente['Other (%)'] = 0

# Sum up the values from unused columns into 'Other (%)'
df_afkomst_per_gemeente['Other (%)'] = df_afkomst_per_gemeente[unused_columns].sum(axis=1)

# Keep only the desired columns
desired_columns = ['Gemeente', 'Autochtoon (%)', 'Westers totaal (%)', 'Other (%)']
df_afkomst_per_gemeente_gegeneraliseerd = df_afkomst_per_gemeente[desired_columns]

del unused_columns, desired_columns

In [ ]:
# Display the normal DataFrame
df_afkomst_per_gemeente

In [ ]:
# Display the modified DataFrame
df_afkomst_per_gemeente_gegeneraliseerd

In [ ]:
df_uitkeringen.info()

In [ ]:
# Rename columns
df_uitkeringen.rename(columns={'Plaats': 'Gemeente','Uitkeringsontvangers, totaal |Uitkeringsontvangers, totaal': 'Uitkeringsontvangers totaal'}, inplace=True)

# Now we filter the dataframe to only contain the data we need
# Specify the columns to keep
columns_to_keep = ['Perioden', 'Gemeente', 'Uitkeringsontvangers totaal',
                   'Uitkeringsontvangers per soort uitkering|Werkloosheid',
                   'Uitkeringsontvangers per soort uitkering|Arbeidsongeschiktheid|Wajong-uitkering']

# Drop columns that are not in the specified list
df_uitkeringen = df_uitkeringen.drop(df_uitkeringen.columns.difference(columns_to_keep), axis=1)

del columns_to_keep

# Display the modified DataFrame
df_uitkeringen

In [ ]:
# df_welzijn is het enige dataframe waaraan niks gedaan hoeft te worden. Dit is omdat het al op de juiste manier is geprepareerd.
df_welzijn.info()

In [ ]:
# Converting DeelnemerID to INT to merge properly
df_deelnemeners['DeelnemerID'] = df_deelnemeners['DeelnemerID'].astype(pd.Int64Dtype())

# Merge df_deelnemers & df_fitheids_scan on 'DeelnemerID' for a complete DataFrame like the original excel file
df_healthy_life = pd.merge(df_fitheids_scan, df_deelnemeners, on='DeelnemerID')

# Delete df_deelnemers & df_fitheids_scan for minimalizing the ram usage
del df_fitheids_scan, df_deelnemeners

df_healthy_life.info()

df_healthy_life

In [ ]:
# currently the memory usage is 2.5+ GB after the garbage collection. This is easily runnable on any modern computer.
gc.collect()

In [ ]:
# Merging all the dataframes into one big dataframe named df_complete